<div class="container-fluid" style="background-color: #151515; color: white">
  <div class="row">
    <div class="col-md-11">
      <h1>
        <span [innerHTML]="title"></span>
      </h1>
    </div>
    <div class="col-md-1">
      <button type="button" class="btn btn-primary">
        <span class="glyphicon glyphicon-log-in"></span>&nbsp;login
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
			<h4>
				Candlestick bucket interval&nbsp;&nbsp; 
				<div class="btn-group" dropdown>
					<button id="split-button" type="button" class="btn btn-default">{{timeInterval}}</button>
					<button type="button" class="btn btn-default dropdown-toggle-split" dropdownToggle>
						<span class="caret"></span>
						<span class="sr-only">Split button!</span>
					</button>
					<ul class="dropdown-menu" dropdownMenu role="menu" aria-labelledby="split-button">
						<li role="menuitem"><a class="dropdown-item" href="#" (click)="updateTimeInterval('1 minute')">1 minute</a></li>
						<li role="menuitem"><a class="dropdown-item" href="#" (click)="updateTimeInterval('5 minutes')">5 minutes</a></li>
						<li role="menuitem"><a class="dropdown-item" href="#" (click)="updateTimeInterval('15 minutes')">15 minutes</a></li>
						<li role="menuitem"><a class="dropdown-item" href="#" (click)="updateTimeInterval('30 minutes')">30 minutes</a></li>
						<li role="menuitem"><a class="dropdown-item" href="#" (click)="updateTimeInterval('1 hour')">1 hour</a></li>
						<li role="menuitem"><a class="dropdown-item" href="#" (click)="updateTimeInterval('2 hours')">2 hours</a></li>
						<li role="menuitem"><a class="dropdown-item" href="#" (click)="updateTimeInterval('1 day')">1 day</a></li>
					</ul>
				</div>
			</h4>
		</div>
  </div>
	<div class="row">
		<div class="col-md-9" id="candlestick_chart" [chartData]="candlestickData" [chartOptions] = "candlestickOptions" chartType="CandlestickChart" GoogleChart >
    </div>
		<div class="col-md-1">
      <b>Order book</b>
      <br />
      <div style="min-height:260px; position: relative">
        <table id="asks" style="position: absolute; left: 0; bottom: 0;">
          <tr *ngFor="let row of asks">
            <td class="text-right" style="border: 1px solid gray; padding: 0px 8px 0px 8px;">{{row.price}}</td>
            <td class="text-right" style="border: 1px solid gray; padding: 0px 8px 0px 8px; min-width:65px">{{row.amount}}</td>
          </tr>
        </table>
      </div>
      <div>
        <table>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2" style="border: 1px solid gray; padding: 0px 8px 0px 8px;">Last Trade</td>
          </tr>
          <tr>
            <td class="text-right" style="border: 1px solid gray; padding: 0px 8px 0px 8px;">{{lastTradePrice}}</td>
            <td class="text-right" style="border: 1px solid gray; padding: 0px 8px 0px 8px; min-width:65px">{{lastTradeAmount}}</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
        </table>
      </div>
      <div>
        <table id="bids">
          <tr *ngFor="let row of bids">
            <td class="text-right" style="border: 1px solid gray; padding: 0px 8px 0px 8px;">{{row.price}}</td>
            <td class="text-right" style="border: 1px solid gray; padding: 0px 8px 0px 8px; min-width:65px">{{row.amount}}</td>
          </tr>
        </table>
      </div>
    </div>
		<div class="col-md-2">
      <b>Login</b>
      <br />
      <br />
      <table>
        <tr>
          <td style="border: 1px solid gray; padding: 8px 8px 8px 8px;">Email</td>
          <td style="border: 1px solid gray; padding: 8px 8px 8px 8px;">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
          </td>
        </tr>
        <tr>
          <td style="border: 1px solid gray; padding: 8px 8px 8px 8px;">Password</td>
          <td style="border: 1px solid gray; padding: 8px 8px 8px 8px;">
            <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password">
          </td>
        </tr>
        <tr>
          <td style="padding: 8px 8px 8px 8px;">&nbsp;</td>
          <td style="padding: 8px 8px 8px 8px;">
            <button type="button" class="btn btn-primary">Login</button>
          </td>
        </tr>

      </table>
    </div>
	</div>
</div>
