<h1>
  <div [innerHTML]="title"></div>
</h1>

<div class="container-fluid" style="background-color: #151515; color: white">
	<div class="row">
		<div class="col-md-10" id="candlestick_chart" [chartData]="candlestickData" [chartOptions] = "candlestickOptions" chartType="CandlestickChart" GoogleChart >
    </div>
		<div class="col-md-2">
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <b>Order book</b>
      <br />
      <div style="min-height:260px; position: relative">
        <table id="asks" style="position: absolute; left: 0; bottom: 0;">
          <tr *ngFor="let row of asks">
            <td class="text-right" style="border: 1px solid gray; padding: 0px 20px 0px 20px;">{{row.price}}</td>
            <td class="text-right" style="border: 1px solid gray; padding: 0px 20px 0px 20px;">{{row.amount}}</td>
          </tr>
        </table>
      </div>
      <div>
        <table>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td class="text-right" style="border: 1px solid gray; padding: 0px 20px 0px 20px;">{{lastTradePrice}}</td>
            <td class="text-right" style="border: 1px solid gray; padding: 0px 20px 0px 20px;">{{lastTradeAmount}}</td>
            <td style="border: 1px solid gray; padding: 0px 20px 0px 20px;">Last Trade</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
        </table>
      </div>
      <div>
        <table id="bids">
          <tr *ngFor="let row of bids">
            <td class="text-right" style="border: 1px solid gray; padding: 0px 20px 0px 20px;">{{row.price}}</td>
            <td class="text-right" style="border: 1px solid gray; padding: 0px 20px 0px 20px;">{{row.amount}}</td>
          </tr>
        </table>
      </div>
    </div>
	</div>
</div>
